* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 20px 10px;
  /* margin: 20px 0; */
}
.write-up {
  margin-top: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
<<<<<<< HEAD
  background :url(/assets/image.jpg);
=======
background-image: url(assets/Images/8e307890-cca5-4212-82c6-0b41feaa1b53.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
>>>>>>> ca39ad23f3752edae64e7a92cb5b96cf171588e3
  /* padding: 20px 10px; */
  padding: 70px;
  object-fit: contain;
}


.feet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.address {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
}
.phone {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.legal {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  list-style: none;
}
.email {
  padding: 10px 20px;
  background-color: #fff;
  color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
span {
  color: red;
  font-style: italic;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.d-btn {
  padding: 10px 20px;
  background-color:rgb(253, 17, 17) ;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

strong {
  color: red;
  font-family: "Arial Black", Arial, sans-serif;
}
h3 {
  color: red;
  font-family: "Arial Black", Arial, sans-serif;
}
a{
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h2{
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}